<div class="jumbotron">
  <h1>Profile</h1>
  <% if defined?(@user_data) %>
    <p class="username"><strong>Username: </strong> <%= @user_data['username']%> </p>
  <% end %>
  <% if defined?(@current_user) %>
    <p class="user-id"><strong>UserID: </strong> <%= @current_user['user_id'] %></p>
    <%if @current_user['is_admin'] == true %>
      <p class="role"><strong>Role: </strong> Admin </p>
    <% else %>
      <p class="role"><strong>Role: </strong> User </p>
    <% end %>
  <% end %>
</div>

<div class="jumbotron">
  <h1>Credentials</h1>
  <form class="form-inline" method="post" action="user">
    <% if defined?(@user_data) %>
      <input type="hidden" name="username" value="<%= @user_data['username'] %>">
    <% end %>
    <div class="form-group mr-sm-3 mb-2">
      <label for="inputPassword" class="sr-only">New Password</label>
      <input type="password" name="password" class="form-control" id="inputPassword" placeholder="new password">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Change password</button>
  </form>

</div>
