<%# add navigation links to this file %>
<li class='nav-item'><%= link_to 'Profile', user_path, class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'Files', files_path, class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'Login', auth_path, class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'Signup', signup_path, class: 'nav-link' %></li>
