<div class="login-dark">
  <form method="post" action="<%= auth_path %>">
    <h2 class="sr-only">Signup Form</h2>
    <div class="illustration"><i class="icon ion-ios-unlocked-outline"></i></div>
    <div class="form-group"><input class="form-control" type="text" name="username" placeholder="Username"></div>
    <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
    <div class="form-group"><button class="btn btn-primary btn-block" type="submit" name="signup">Signup</button></div>
  </form>
</div>
