

<div class="jumbotron">

  <div class="input-group mb-3">
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="inputGroupFile02">
      <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
    </div>
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" id="submit_file" type="button">Upload</button>
    </div>
  </div>

  <script>
      $('#inputGroupFile02').on('change',function(){
          //get the file name
          var filename = $(this).val();
          filename = filename.substring(filename.lastIndexOf("\\") + 1, filename.length);
          //replace the "Choose a file" label
          $(this).next('.custom-file-label').html(filename);
      });

      $('#submit_file').click(function() {
          var fd = new FormData();
          var files = $('#inputGroupFile02')[0].files[0];
          fd.append('file', files);
          $.ajax({
              url: 'files',
              type: 'post',
              data: fd,
              contentType: false,
              processData: false,
              success: function (response) {
              },
          });
      });

  </script>

  <hr>
  <% if @files.present? %>
    <table class="table table-striped table-dark">
      <tr>
        <th>Filename (Download)</th>
      </tr>
    <% @files.each do |file| %>
      <tr>
        <td><%= link_to file, controller: "files", action: "index", filename: file %></td>
      </tr>
    <% end %>
    </table>
  <% end %>
</div>
